body{
background: #F7E7DC;
background: linear-gradient(135deg, #F7E7DC, #FFF8F3);
}

.header{
    display: flex;
    justify-content:space-evenly ;
    position: relative;
    align-items: center;
    background-color:#405D72;
    box-shadow: 0px 10px 12px #758694;
    width: 100%;
    height: 50%;
    border-radius: 5px;
}

.header a{
    font-size: large;
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

input{
    width: 12%;
    height: 3vh;
    border-radius: 5px;
    border-color: #758694;
}

input:hover{
    border-color: inherit;
    
}

.header a:hover{
    cursor: pointer;
    color:orange;
    text-decoration:solid;
}
section{
margin-bottom: 10px;
border-bottom: 1px dotted black;
}

.landing{
    display: flex;
    flex-direction: row;
    gap: 5%;
    border-bottom: 1px dotted black;

}
.land{
    display: flex;
    background-color: inherit;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 10%;
    align-items: center;
    margin-bottom: 10%;
}
.land2 img{
    display: flex;
    flex-direction: right;
    height: 450px;
    width: 100%;
    margin-top: 7%;
    margin-right: 20%;
    border-radius: 5%;
    object-fit:cover;
    gap: 10%;
    max-width: 100%;
    max-height: 100%;
}
.land h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: black;

}   

.land h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    color: black;
    font-size: xx-large;
    border-width: 40%;
    padding-bottom: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    color: black;
    font-size: large;
    border-width: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn2{
margin-left: 43.5%;
   
}

.header h1{
    height: 15%;
    color: white;
    padding-left: 2%;
    font-family: fantasy;
    font-weight: normal;
    position: relative;
    margin-right: 50%;
}

.container{
    display: flex;
    margin: 100px 0% 0% 275px;
    width: 70%;
    height: 450%;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10%;
}

.container img{
    width: 15%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.684);
    transition: all ease-in-out 0.5s;
}

.container img:hover{
    width: 20%;
    cursor: pointer;
    border: 5px solid black;
}


button{
    margin-bottom: 20px;
    height: 50px;
    width: 250px;
    font-size: large;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: #405D72;
}

button:hover{
    cursor: pointer;
    background-color: white;
    color:black;
}
/* .added{
    padding-left: 10%;
    padding-right: 10%;
    border: solid white 5px;
    border-radius: 5px;
    width: 40%;
    padding-top: 25px;
    margin-left: 30%;
    padding-bottom: 25px;
} */

/* .Add{
    display: flex;
    margin-top: 7%;
    background-color: inherit;
    margin-bottom: 0%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
} */