body{
    background: rgb(13,5,19);
background: linear-gradient(90deg, rgb(21, 11, 29) 48%, rgb(102, 25, 25) 81%, rgb(240, 146, 15) 100%);
}

.header{
    display: flex;
    justify-content: center ;
    background-color: inherit;
    width: 100%;
    height: 50%;
}

.header h1{
    height: 20%;
    color: aliceblue;
}

.container{
    display: flex;
    margin: 100px 0% 0% 275px;
    width: 70%;
    height: 450%;
    justify-content: center;
    gap: 5px;
}

.container img{
    width: 19%;
    height: 100%;
    object-fit:inherit;
    border-radius: 10px;
    border: 10px solid rgba(255, 255, 255, 0.684);
    transition: all ease-in-out 0.5s;
}

.container img:hover{
    width: 30%;
}

button{
 
    margin-top: 10px;
    margin-bottom: 20px;
    height: 83px;
    width: 150px;
    font-size: x-large;
    color: white;
    border-radius: 10px;
    background-color: rgb(109, 34, 34);
}

/* .added{
    padding-left: 10%;
    padding-right: 10%;
    border: solid white 5px;
    border-radius: 5px;
    width: 40%;
    padding-top: 25px;
    margin-left: 30%;
    padding-bottom: 25px;
} */

.Add{
    display: flex;
    margin-top: 7%;
    background-color: inherit;
    margin-bottom: 0%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}