body{
background: #F7E7DC;
background: linear-gradient(135deg, #F7E7DC, #FFF8F3);
}

.header{
    display: flex;
    z-index: 100;
    justify-content:space-evenly ;
    position: fixed;
    align-items: center;
    background-color:#405D72;
    box-shadow: 0px 10px 12px #758694;
    width: 100%;
    height: 8%;
    border-radius: 5px;
}

.header a{
    font-size: large;
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

input{
    width: 12%;
    height: 3vh;
    border-radius: 5px;
    border-color: #758694;
}

input:hover{
    border-color: inherit;
    
}

.header a:hover{
    cursor: pointer;
    color:orange;
    text-decoration:solid;
}
section{
margin-bottom: 10px;
border-bottom: 1px dotted black;
}

.landing{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    border-bottom: 1px dotted black;

}
.land{
    display: flex;
    background-color: inherit;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 10%;
    align-items: center;
    margin-bottom: 10%;
}
.land2 img{
    display: flex;
    flex-direction: right;
    height: 450px;
    width: 100%;
    margin-top: 7%;
    margin-right: 20%;
    border-radius: 5%;
    object-fit:cover;
    gap: 10%;
    max-width: 100%;
    max-height: 100%;
}
.land h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: black;

}   

.land h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    color: black;
    font-size: xx-large;
    border-width: 40%;
    padding-bottom: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    color: black;
    font-size: large;
    border-width: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn2{
margin-left: 43.5%;
   
}

.header h1{
    height: 15%;
    padding-bottom: 30px;
    color: white;
    padding-left: 2%;
    font-family: fantasy;
    font-weight: normal;
    position: relative;
    margin-right: 50%;
}

.container{
    display: flex;
    margin: 100px 0% 0% 275px;
    width: 70%;
    height: 450%;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10%;
}

.container img{
    width: 15%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.684);
    box-shadow: 0px 10px 12px #758694;
    transition: all ease-in-out 0.5s;
}

.container img:hover{
    width: 20%;
    cursor: pointer;
    border: 5px solid black;
}

span button{
    text-align: center;
}

button{
    margin-bottom: 20px;
    height: 50px;
    width: 250px;
    background: none;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.8s;
    cursor: pointer;
    overflow: hidden;
}

.btn1, .btn2{
    color:black;
}

.btn2:hover, .btn1:hover{
    color:#fff;
}

button::before{
    content: " ";
    position: absolute;
    height: 0%;
    width: 249px;
    background: #405D72;
    z-index: -3;
    transition: 0.5s;
}

.btn1::before, .btn2::before{
border-radius: 50% 50% 0 0;
}

.btn1:hover::before{
    height: 3.5%;
    right: 59%;
}

.btn2:hover::before{
    height: 3.5%;
    right: 43%;
}

footer{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 0%;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;

}
.icons {
    display: flex;
    gap: 30px;
}

.icons a{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 20px;
    color: white;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 45px;
    transition: background 0.3s, transform 0.3s;

}

.icons a:hover{
    background: linear-gradient(135deg, #4a00e0, #8e2de2);
    transform: scale(2.1);
}



